.repository {
	@mega-octicon-width: 30px;

	padding-top: 15px;
	padding-bottom: @footer-margin * 2;

	.head {
		.column {
			padding-top: 5px!important;
			padding-bottom: 5px!important;
		}
		.ui.compact.menu {
			margin-left: 1rem;
		}
		.ui.header {
			margin-top: 0;
		}
		.mega-octicon {
			width: @mega-octicon-width;
			font-size: 30px;
		}
		.ui.huge.breadcrumb {
			font-weight: 400;
			font-size: 1.7rem;
		}
		.fork-flag {
			margin-left: @mega-octicon-width + 8px;
			margin-top: 3px;
			display: block;
			font-size: 12px;
			white-space: nowrap;
		}
	}

	.navbar {
		.ui.label {
			margin-top: -2px;
			margin-left: 7px;
			padding: 3px 5px;
		}
	}

	.owner.dropdown {
		min-width: 40% !important;
	}

	.metas {
		.menu {
			max-height: 300px;
			overflow-x: auto;
		}
		.ui.list {
			.hide {
				display: none!important;
			}
			.label.color {
				padding: 0 8px;
				margin-right: 5px;
			}
			a {
				padding-top: 5px;
				padding-right: 10px;
				.text {
					color: #444;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	.filter.menu {
		.label.color {
			margin-left: 15px;
			padding: 0 8px;
		}
		.octicon {
			float: left;
			margin-left: -5px;
			margin-right: -7px;
		}
		.menu {
			max-height: 300px;
			overflow-x: auto;
			right: 0!important;
			left: auto!important;
		}
		.dropdown.item {
			margin: 1px;
			padding-right: 0;
		}
	}

	.ui.tabs {
		&.container {
			margin-top: 14px;
			margin-bottom: 0px;
			.ui.menu {
				border-bottom: none;
			}
		}
		&.divider {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	#clone-panel {
		margin-top: -8px;
		width: 100%;

		input {
			border-radius: 0;
			padding: 5px 10px;
		}

		.clone.button {
			font-size: 13px;
			padding: 0 5px;
			&:first-child {
				border-radius: .28571429rem 0 0 .28571429rem;
			}
		}
		.icon.button {
			padding: 0 10px;
		}
		.dropdown .menu {
			right: 0!important;
			left: auto!important;
		}
	}

	&.file.list {
		#repo-desc {
			font-size: 1.2em;
		}
		.choose.reference {
			.header .icon {
				font-size: 1.4em;
			}
		}

		#repo-files-table {
			thead {
				th {
					padding-top: 8px;
					padding-bottom: 5px;
					font-weight: normal;

					&:first-child {
						display: block;
						position: relative;
						width: 325%;
					}
				}
				.ui.avatar {
					margin-bottom: 5px;
				}
			}
			tbody {
				.icon {
					margin-left: 3px;
					margin-right: 5px;
				}
			}
			td {
				padding-top: 8px;
				padding-bottom: 8px;
			}
			tr:hover {
				background-color: #ffffEE;
			}
		}

		#file-content {
			.header {
				.icon {
					font-size: 1em;
					margin-top: -2px;
				}
			}
			.view-raw {
				* {
					width: 100%;
				}
				img {
					padding: 5px 5px 0 5px;
				}
			}

			.code-view {
				* {
					font-size: 13px;
					font-family: monospace;
					line-height: 20px;
				}

				table {
					width: 100%;
				}
				.lines-num {
					vertical-align: top;
					text-align: right;
					color: #999;
					background: #f5f5f5;
					width: 1%;

					span {
						font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
						line-height: 20px;
						padding: 0 10px;
						cursor: pointer;
						display: block;
					}
				}
				.lines-num,
				.lines-code {
					padding: 0;


					pre,
					ol,
					.hljs {
						background-color: white;
						margin: 0;
						padding: 0 !important;
						li {
							padding-left: 5px;
							&.active {
								background: #ffffdd;
							}
						}
					}
				}
			}
		}

		.sidebar {
			padding-left: 0;

			.octicon {
				width: 16px;
			}
		}
	}

	&.options {
		#interval {
			width: 100px!important;
			min-width: 100px;
		}
		.danger {
			.item {
				padding: 20px 15px;
			}
			.ui.divider {
				margin: 0;
			}
		}
	}

	@comment-avatar-width: 3em;
	&.new.issue {
		.comment.form {
			.comment {
				.avatar {
					width: @comment-avatar-width;
				}
			}
			.content {
				margin-left: 4em;
				.markdown {
					font-size: 14px;
				}
			}
			.metas {
				min-width: 220px;
				.filter.menu {
					max-height: 300px;
					overflow-x: auto;
				}
			}

		}
	}
	&.view.issue {
		.title {
			padding-bottom: 0!important;
			h1 {
				font-weight: 300;
				font-size: 3rem;
				margin-bottom: 5px;
				.ui.input	{
					font-size: 0.5em;
					vertical-align: top;
					width: 50%;
					min-width: 600px;
					input {
						font-size: 1.5em;
						padding: 6px 10px;
					}
				}
			}
			.index {
				font-weight: 300;
				color: #aaa;
				letter-spacing: -1px;
			}
			.label {
				margin-right: 10px;
			}
			.edit-zone {
				margin-top: 10px;
			}
		}
		.pull-desc {
			code {
				color: #0166E6;
			}
		}
		.pull {
			&.tabular.menu {
				margin-bottom: 10px;
				.octicon {
					margin-right: 5px;
				}
			}
			&.tab.segment {
				border: none;
				padding: 0;
				padding-top: 10px;
				box-shadow: none;
				background-color: inherit;
			}
			.merge.box {
				.avatar {
					margin-left: 10px;
					margin-top: 10px;
				}
			}
		}
		.comment-list {
			&:before {
				display: block;
				content: "";
				position: absolute;
				margin-top: 12px;
				margin-bottom: 14px;
				top: 0;
				bottom: 0;
				left: 96px;
				width: 2px;
				background-color: #f3f3f3;
				z-index: -1;
			}
			.comment {
				.avatar {
					width: @comment-avatar-width;
				}
				.tag {
					color: #767676;
					margin-top: 3px;
					padding: 2px 5px;
					font-size: 12px;
					border: 1px solid rgba(0,0,0,0.1);
					border-radius: 3px;
				}
				.actions {
					.item {
						float: left;
					}
					a.item {
						margin-top: 6px;
						margin-left: 10px;
					}
				}
				.content {
					margin-left: 4em;
					.header {
						font-weight: normal;
						padding: auto 15px;
						color: #767676;
						background-color: #f7f7f7;
						border-bottom: 1px solid #eee;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;
						.text {
							max-width: 78%;
							padding-top: 10px;
							padding-bottom: 10px;
						}
					}
					.markdown {
						font-size: 14px;
					}
					.no-content {
						color: #767676;
						font-style: italic;
					}
					> .bottom.segment {
						background: #f3f4f5;
						.ui.image {
							max-height: 150px;
						}
					}
				}

				.ui.form {
					.field:first-child {
						clear: none;
					}
					.tab.segment {
						border: none;
						padding: 0;
						padding-top: 10px;
					}
					textarea {
						height: 200px;
					}
				}

				.edit.buttons {
					margin-top: 10px;
				}
			}
			.event {
				position: relative;
				margin: 15px 0 15px 79px;
				padding-left: 25px;
				.octicon {
					width: 30px;
					float: left;
					margin-left: -36px;
					text-align: center;
					&.octicon-circle-slash {
						margin-top: 5px;
						font-size: 20px;
						color: #bd2c00;
					}
					&.octicon-primitive-dot {
						font-size: 30px;
						color: #6cc644;
					}
					&.octicon-bookmark {
						margin-top: 3px;
						font-size: 25px;
					}
				}
				.detail {
					font-size: 0.9rem;
					margin-top: 5px;
					margin-left: 35px;
					.octicon {
						&.octicon-git-commit {
							margin-top: 2px;
						}
					}
				}
			}
		}
		.ui.segment.metas {
			margin-top: -3px;
		}
	}
	.comment.form {
		.ui.comments {
			margin-top: -12px;
			max-width: 100%;
		}
		.content {
			.field:first-child {
				clear: none;
			}
			.tab.segment {
				border: none;
				padding: 0;
				padding-top: 10px;
			}
			textarea {
				height: 200px;
			}
		}
	}

	.label.list {
		list-style: none;
		padding-top: 15px;
		.item {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #AAA;
			a {
				font-size: 15px;
				padding-top: 5px;
				padding-right: 10px;
				color: #666;
				&:hover {
					color: #000;
				}
				&.open-issues {
					margin-right: 30px;
				}
			}
		}
	}

	.milestone.list {
		list-style: none;
		padding-top: 15px;
		> .item {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px dashed #AAA;
			> a {
				padding-top: 5px;
				padding-right: 10px;
				color: #000;
				&:hover {
					color: #4078c0;
				}
			}
			.ui.progress {
				width: 40%;
				padding: 0;
				border: 0;
				margin: 0;
				.bar {
					height: 20px;
				}
			}
			.meta {
				color: #999;
				padding-top: 5px;
				.issue-stats .octicon{
					padding-left: 5px;
				}
				.overdue {
					color: red;
				}
			}
			.operate {
				margin-top: -15px;
				> a {
					font-size: 15px;
					padding-top: 5px;
					padding-right: 10px;
					color: #666;
					&:hover {
						color: #000;
					}
				}
			}
			.content {
				padding-top: 10px;
			}
		}
	}
	&.new.milestone {
		textarea {
			height: 200px;
		}
		#deadline {
			width: 150px;
		}
	}

	&.compare.pull {
		.choose.branch {
			.octicon {
				padding-right: 10px;
			}
		}
	}

	.filter.dropdown .menu {
		margin-top: 1px!important;
	}

	&.commits {
		.header {
			.ui.right {
				.search {
					input {
						font-weight: normal;
						padding: 5px 10px;
					}
				}
			}
		}
	}
	#commits-table {
		thead {
			th:first-of-type {
				padding-left: 15px;
			}
			.sha {
				font-size: 13px;
				padding: 6px 40px 4px 35px;
			}
		}
		&.ui.basic.striped.table tbody tr:nth-child(2n) {
			background-color: rgba(0, 0, 0, .02)!important;
		}
	}

	.diff-detail-box {
		margin: 15px 0;
		line-height: 30px;
		ol {
			clear: both;
			padding-left: 0;
			margin-top: 5px;
			margin-bottom: 28px;
			li {
				list-style: none;
				padding-bottom: 4px;
				margin-bottom: 4px;
				border-bottom: 1px dashed #DDD;
				padding-left: 6px;
			}
		}
		span.status{
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 8px;
			vertical-align: middle;
			&.modify {
				background-color: #f0db88;
			}
			&.add {
				background-color: #b4e2b4;
			}
			&.del {
				background-color: #e9aeae;
			}
			&.rename {
				background-color: #dad8ff;
			}
		}
	}
	.diff-box {
		.count {
			margin-right: 12px;
			.bar {
				background-color: #e75316;
				height: 12px;
				width: 40px;
				display: inline-block;
				margin: 2px 4px 0 4px;
				vertical-align: text-top;
				.add {
					background-color: #77c64a;
					height: 12px;
				}
			}
		}
		.file {
			color: #888;
		}
	}
	.diff-file-box {
		.header {
			border-bottom: 1px solid #d4d4d5!important;
		}
		.file-body.file-code {
			.lines-num {
				text-align: right;
				color: #999;
				background: #fafafa;
				width: 1%;
			}
			.lines-num-old {
				border-right: 1px solid #DDD;
			}
		}
		.code-diff {
			font-size: 13px;

			td {
				padding: 0;
				border-top: none;
			}
			pre {
				margin: 0;
				font-size: 13px;
			}
			.lines-num {
				border-right: 1px solid #d4d4d5;
				padding: 0 5px;
			}
			tbody {
				tr {
					&.tag-code {
						td, pre {
							background-color: #E0E0E0 !important;
							border-color: #ADADAD!important;
						}
						// td.selected-line, td.selected-line pre {
						// 	background-color: #ffffdd !important;
						// }
					}
					// &.same-code {
					// 	td.selected-line, td.selected-line pre {
					// 		background-color: #ffffdd !important;
					// 	}
					// }
					&.del-code {
						td, pre {
							background-color: #ffe2dd !important;
							border-color: #e9aeae !important;
						}
						// td.selected-line, td.selected-line pre {
						// 	background-color: #ffffdd !important;
						// }
					}
					&.add-code {
						td, pre {
							background-color: #d1ffd6 !important;
							border-color: #b4e2b4 !important;
						}
						// td.selected-line, td.selected-line pre {
						// 	background-color: #ffffdd !important;
						// }
					}
					&:hover {
						td {
							background-color: #FFF8D2 !important;
							border-color: #F0DB88 !important;
						}
						pre {
							background-color: transparent !important;
						}
					}
				}
			}
		}
		&.file-content {
			img {
				max-width: 100%;
				padding: 5px 5px 0 5px;
			}
		}
	}
	.code-view {
		overflow: auto;
		overflow-x: auto;
		overflow-y: hidden;
	}

	&.quickstart {
		.guide {
			.item {
				padding: 1em;
				small {
					font-weight: normal;
				}
			}
			.clone.button:first-child {
				border-radius: .28571429rem 0 0 .28571429rem;
			}
			.ui.action.small.input {
				width: 100%;
			}
			#repo-clone-url {
				border-radius: 0;
				padding: 5px 10px;
				font-size: 1.2em;
			}
		}
	}

	&.release {
		#release-list {
			border-top: 1px solid #DDD;
			margin-top: 20px;
			padding-top: 15px;

			>li {
				list-style: none;

				.meta,
				.detail {
					padding-top: 30px;
					padding-bottom: 40px;
				}
				.meta {
					text-align: right;
					position: relative;

					.tag:not(.icon) {
						display: block;
						margin-top: 15px;
					}
					.commit {
						display: block;
						margin-top: 10px;
					}
				}
				.detail {
					border-left: 1px solid #DDD;

					.author {
						img {
							margin-bottom: -3px;
						}
					}
					.download {
						margin-top: 20px;

						>a {
							.octicon {
								margin-left: 5px;
								margin-right: 5px;
							}
						}

						.list {
							padding-left: 0;
							border-top: 1px solid #eee;

							li {
								list-style: none;
								display: block;
								padding-top: 8px;
								padding-bottom: 8px;
								border-bottom: 1px solid #eee;
							}
						}
					}
					.dot {
						width: 9px;
						height: 9px;
						background-color: #ccc;
						z-index: 999;
						position: absolute;
						display: block;
						left: -5px;
						top: 40px;
						border-radius: 6px;
						border: 1px solid #FFF;
					}
				}
			}
		}
	}
	&.new.release {
		.target {
			min-width: 500px;

			.at {
				margin-left: -5px;
				margin-right: 5px;
			}
			.dropdown.icon {
				margin: 0;
				padding-top: 3px;
			}
			.selection.dropdown {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.prerelease.field {
			margin-bottom: 0;
		}
	}

	&.watchers {
		.list {
			padding: 0;

			.item {
				list-style: none;
				width: 32%;
				margin: 10px 10px 10px 0;
				padding-bottom: 14px;
				float: left;

				.avatar {
					width: 48px;
					height: 48px;
					float: left;
					display: block;
					margin-right: 10px;
				}
				.name {
					margin-top: 0;
					margin-bottom: 0;
					font-weight: normal;
				}
				.meta {
					margin-top: 5px;
				}
			}
		}
	}
	&.forks {
		.list {
			margin-top: 0;

			.item {
				padding-top: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #DDD;

				.ui.avatar {
					float: left;
					margin-right: 5px;
				}
				.link {
					padding-top: 5px;
				}
			}
		}
	}

	&.wiki {
		&.start {
			.ui.segment {
				padding-top: 70px;
				padding-bottom: 100px;

				.mega-octicon {
					font-size: 48px;
				}
			}
		}

		&.new {
			.CodeMirror {
				.CodeMirror-code .cm-comment {
					background: inherit;
				}
			}

			.editor-preview {
				background-color: white;
			}
		}

		&.view {
			.choose.page {
				margin-top: -5px;
			}

			.ui.sub.header {
				text-transform: none;
			}
			.markdown {
				padding: 15px 30px;

				h1, h2, h3, h4, h5, h6 {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}
	}

	&.settings {
		&.collaboration {
			.collaborator.list {
				padding: 0;

				.item {
					padding: 10px 20px;

					&:not(:last-child) {
						border-bottom: 1px solid #DDD;
					}
				}
			}

			#repo-collab-form {
				#search-user-box {
					.results {
						left: 7px;
					}
				}
				.ui.button {
					margin-left: 5px;
					margin-top: -3px;
				}
			}
		}
	}
}
// End of .repository

#search-repo-box,
#search-user-box {
	.results {
		padding: 0;
		position: absolute;

		.item {
			padding: 10px 15px;
			border-bottom: 1px solid #DDD;
			cursor: pointer;

			&:hover {
				background: rgba(0,0,0,.05)!important;
				color: rgba(0,0,0,.95)!important;
			}
			img {
				margin-right: 8px;
			}
		}
	}
}

.issue.list {
	list-style: none;
	padding-top: 15px;
	>.item {
		padding-top: 15px;
		padding-bottom: 10px;
		border-bottom: 1px dashed #AAA;
		.title {
			color: #444;
			font-size: 15px;
			font-weight: bold;
			margin: 0 6px;
			&:hover {
				color: #000;
			}
		}
		.comment {
			padding-right: 10px;
			color: #666;
		}
		.desc {
			padding-top: 5px;
			color: #999;
			a.milestone {
				padding-left: 5px;
				color: #999!important;
				&:hover {
					color: #000!important;
				}
			}
			.assignee {
				margin-top: -5px;
				margin-right: 5px;
			}
		}
	}
}

.page.buttons {
	padding-top: 15px;
}

.ui.comments {
	.dropzone {
		width: 100%;
		margin-bottom: 10px;
		border: 2px dashed #0087F7;
		box-shadow: none!important;
		.dz-error-message {
			top: 140px;
		}
	}
}

.settings {
	.content {
		margin-top: 2px;
		>.header,
		.segment {
			box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
		}
	}
	.key.list {
		.item:not(:first-child) {
			border-top: 1px solid #eaeaea;
		}
		.ssh-key-state-indicator {
			float: left;
			color: gray;
			padding-left: 10px;
			padding-top: 10px;
			&.active {
				color: #6cc644;
			}
		}
		.meta {
			padding-top: 5px;
		}
		.print {
			color: #767676;
		}
		.activity {
			color: #666;
		}
	}
	.hook.list {
		> .item:not(:first-child) {
			border-top: 1px solid #eaeaea;
		}
		.item {
			padding: 10px 20px;
			.octicon,
			.fa {
				width: 20px;
				text-align: center;
			}
		}
	}
	.hook.history.list {
		.item {
			padding-left: 13px;
			.meta {
				.ui.right {
					margin-top: 5px;
					.time {
						font-size: 12px;
					}
				}
			}
			.info {
				margin-top: 10px;
				.tabular.menu {
					.item {
						font-weight: 500;
					}
				}
				.tab.segment {
					border: none;
					padding: 0;
					padding-top: 10px;
					box-shadow: none;
					> * {
						color: #666;
					}
					pre {
						word-wrap: break-word;
						.hljs {
							padding: 0;
							background-color: inherit;
						}
					}
				}
			}
		}
	}
}

.ui.vertical.menu {
	.header.item {
		font-size: 1.1em;
		background: #f0f0f0;
	}
}

.edit-label.modal,
.new-label.segment {
	.form {
		.column {
			padding-right: 0;
		}
		.buttons {
			margin-left: auto;
			padding-top: 15px;
		}
		.color.picker.column {
			width: auto;
			.color-picker {
				height: 35px;
				width: auto;
				padding-left: 30px;
			}
		}
		.minicolors-swatch.minicolors-sprite {
			top: 10px;
			left: 10px;
			width: 15px;
			height: 15px;
		}
		.precolors {
			padding-left: 0;
			padding-right: 0;
			margin: 3px 10px auto 10px;
			width: 120px;
			.color {
				float: left;
				width: 15px;
				height: 15px;
			}
		}
	}
}

#transfer-repo-modal,
#delete-repo-modal {
	.ui.message {
		width: 100%!important;
	}
}
